name: Trigger Remote Actions

on:
  workflow_dispatch:

jobs:
  trigger-appealrights:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger AppealRightsExhausted workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          repository: UKHomeOffice/AppealRightsExhausted
          event-type: trigger-from-scanmaestro

  trigger-modernslavery:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger modern-slavery workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          repository: UKHomeOffice/modern-slavery
          event-type: trigger-from-scanmaestro
