name: Trigger Remote Actions # This workflow triggers remote workflows in other repositories via repository_dispatch events.

on:
  workflow_dispatch:
  # Runs every day at midnight UTC
  schedule:
    - cron: '0 0 * * *'
  push:
    branches: [ main, master ]

jobs:
  # Job to trigger the AppealRightsExhausted workflow in a remote repo
  trigger-appealrights:
    runs-on: ubuntu-22.04
    steps:
      - name: Trigger AppealRightsExhausted workflow
        # This step uses the 'peter-evans/repository-dispatch@v3' GitHub Action to trigger a repository_dispatch event,
        # allowing us to initiate workflows in other repositories or trigger custom events within the same repository.
        # Useful for orchestrating workflows across multiple repositories or for advanced automation scenarios.
        uses: peter-evans/repository-dispatch@v3
        with:
          # GitHub token stored as a secret for authentication
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          # Target repository to trigger
          repository: UKHomeOffice/AppealRightsExhausted
          # Event type to trigger in the target repository
          event-type: trigger-from-scanmaestro

  # Job to trigger the modern-slavery workflow in a remote repo
  trigger-modernslavery:
    runs-on: ubuntu-22.04
    steps:
      - name: Trigger modern-slavery workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          # GitHub token stored as a secret for authentication
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          # Target repository to trigger
          repository: UKHomeOffice/modern-slavery
          # Event type to trigger in the target repository
          event-type: trigger-from-scanmaestro

  trigger-hof:
    runs-on: ubuntu-22.04
    steps:
      - name: Trigger hof workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          repository: UKHomeOfficeForms/hof
          event-type: trigger-from-scanmaestro

  trigger-firearms:
    runs-on: ubuntu-22.04
    steps:
      - name: Trigger firearms workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          repository: UKHomeOffice/firearms
          event-type: trigger-from-scanmaestro
          
  trigger-web-messengers:
    runs-on: ubuntu-22.04
    steps:
      - name: Trigger web-messengers workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          repository: UKHomeOffice/web-messengers
          event-type: trigger-from-scanmaestro

  trigger-ukvi-complaints:
    runs-on: ubuntu-22.04
    steps:
      - name: Trigger ukvi-complaints workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          repository: UKHomeOffice/ukvi-complaints
          event-type: trigger-from-scanmaestro

  trigger-paf:
    runs-on: ubuntu-22.04
    steps:
      - name: Trigger PAF workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          repository: UKHomeOffice/paf
          event-type: trigger-from-scanmaestro

  trigger-lamp:
    runs-on: ubuntu-22.04
    steps:
      - name: Trigger lamp workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          repository: UKHomeOffice/lamp
          event-type: trigger-from-scanmaestro

  trigger-additional-security-checks:
    runs-on: ubuntu-22.04
    steps:
      - name: Trigger additional-security-checks workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          repository: UKHomeOffice/additional-security-checks
          event-type: trigger-from-scanmaestro
