name: Trigger Remote Actions # This workflow triggers remote workflows in other repositories via repository_dispatch events.

on:
  workflow_dispatch:
  # Runs every day at midnight UTC
  schedule:
    - cron: '0 0 * * *'
  push:
    branches: [ main, master ]

jobs:
  # This job triggers workflows in multiple remote repositories using the repository_dispatch event.
  # It iterates over a list of repositories defined in the matrix strategy and sends a dispatch event to each.
  trigger-remote-workflows:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        repository:
          - UKHomeOfficeForms/hof
          - UKHomeOffice/additional-security-checks
          - UKHomeOffice/AppealRightsExhausted
          - UKHomeOffice/brp_enquiry_forms
          - UKHomeOffice/clue-resolver
          - UKHomeOffice/coa
          - UKHomeOffice/controlled-substance-licence
          - UKHomeOffice/ecs
          - UKHomeOffice/evisa-contact-form
          - UKHomeOffice/evisa-error-correction
          - UKHomeOffice/evisa-find-my-reference
          - UKHomeOffice/eta
          - UKHomeOffice/end-tenancy
          - UKHomeOffice/explosives-precursors-poisons
          - UKHomeOffice/file-vault
          - UKHomeOffice/firearms
          - UKHomeOffice/gro
          - UKHomeOffice/hff
          - UKHomeOffice/hof-rds-api
          - UKHomeOffice/hof-rds-api-lamp
          - UKHomeOffice/home-office-forms-demo
          - UKHomeOffice/homeoffice-countries
          - UKHomeOffice/html-pdf-converter
          - UKHomeOffice/icasework-resolver
          - UKHomeOffice/ims-resolver
          - UKHomeOffice/internal-allegation-referral
          - UKHomeOffice/lamp
          - UKHomeOffice/landlords-checking-service
          - UKHomeOffice/lmr
          - UKHomeOffice/ms-schema
          - UKHomeOffice/modern-slavery
          - UKHomeOffice/paf
          - UKHomeOffice/refugee-integration-loan
          - UKHomeOffice/return-of-documents
          - UKHomeOffice/rotm
          - UKHomeOffice/save-return-api
          - UKHomeOffice/save-return-email-alerts
          - UKHomeOffice/save-return-lookup-ui
          - UKHomeOffice/ukvi-complaints
          - UKHomeOffice/visa-processing-times-tool
          - UKHomeOffice/web-messengers
    steps:
      - name: Trigger ${{ matrix.repository }} workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          repository: ${{ matrix.repository }}
          event-type: trigger-from-scanmaestro  